	<!-- Back to panhandlers Start -->
	<section class="back-to-pan">
		<div class="container-fliud">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="back-to-head clickable" routerLink='/ads/view/{{adData.categoryName}}'>
						Back to {{adData.categoryName}}
					</h1>
				</div>
			</div>
		</div>
	</section>
	<!-- Back to panhandlers End -->

	<!-- Hello Cancer Patient Start -->
	<section class="cancer-patient">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="cancer-des">
						<h2 class="cancer-head">Hello {{adData.categoryName}}</h2>
						<ul>
							<li>
							    <a href="#">
							        <img src="assets/images/user.png" alt="Profile">
							    </a>
							</li>
							<li>
							    <!-- <a href="#">
								    <i class="fa fa-heart"></i>
								</a> -->
								<span class="btn-heart tooltipclassic tooltipclassic-effect-1">
									<span class="tooltipclassic-item" [class]='{"unfav": favorite, "fav": !favorite}' (click)='handle_favorite($event, removeConfirm)'>
										<i class="fa fa-heart checkfstatus favorite" [class.unfavorite]='favorite' ></i>
									</span>
									<span class="spanmessage">
										<span class="tooltipclassic-content smufntooltip clearfix hide" #removeConfirm>
											<span class="tooltipclassic-text">
												<i class="fa fa-info-circle"></i>
												Remove from favorites?
												<br>
												<button class="btn btn-yes bg-remove custbtnremove" (click)='remove_fav(removeConfirm)'>
													Yes,Remove
												</button>
												<button class="btn btn-yes custbtncancel" (click)='cancel_fav(removeConfirm)'>
													No,Cancel
												</button>
											</span>
										</span>
										<span class="tooltipclassic-content smfntooltip clearfix hide">
											<span class="tooltipclassic-text">
												Ad was successfully added to favorites						
											</span>
										</span>
										<span class="tooltipclassic-content ufntooltip clearfix hide">
											<span class="tooltipclassic-text">
												Remove								
											</span>
										</span>
										<span class="tooltipclassic-content fntooltip clearfix hide">
											<span class="tooltipclassic-text">	
											Click to add this Ad to favorites				
											</span>
										</span>
									</span>
								</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hello Cancer Patient End -->

	<!-- Profile Detail Start -->
	<section class="profile-detail">
		<div class="container-fliud">
			<div class="row">
				<div class="col-lg-8">
					<div class="profile-img">
						<img src="{{adData.identityImages[0]? (adData.identityImages[0]|server) : 'assets/images/banner1.jpg'}}" width="100%">
					</div>
				</div>
				<div class="col-lg-4">
					<div class="profile-des">
						<label class="profile-label">Profile ID</label>
						<p class="font-purple">{{adData.receiverId}}</p>

						<label class="profile-label">Name</label>
                        <p class='capitalize' *ngIf="adData.ownerType == 'receiver' ">{{ adData.firstName + " " + adData.lastName }}</p>
						<p class='capitalize' *ngIf="adData.ownerType == 'agency' ">{{ adData.agencyTitle }}</p>
						<p class='capitalize' *ngIf="adData.ownerType == 'sponsor' ">{{ adData.sponsorTitle }}</p>

                        <div *ngIf='adData.ownerType != "agency" && adData.ownerType != "sponsor"'>
                            <label class="profile-label">Age</label>
                            <p>{{ adData?.age || "-" }}</p>
                        </div>

                        <div class="group Age" *ngIf='adData.ownerType == "agency"'>
                            <label class="profile-label">Type</label>
                            <p class='value'>Agency</p>
                        </div>

                        <div class="group Age" *ngIf='adData.ownerType == "sponsor"'>
                            <label class="profile-label">Type</label>
                            <p class='value'>Sponsor</p>
                        </div>

						<label class="profile-label">City</label>
						<p>{{ adData.city }}</p>

						<a class="btn btn-donate" href="javascript:void(0);" data-toggle="modal" data-target="#donationModal" *ngIf='adData.categoryName == "Donate Housing"'>Donate Housing</a>
						<a class="btn btn-donate" href="javascript:void(0);" (click)='donate(adData._id)' *ngIf='adData.categoryName != "Donate Housing"'>Donate</a>
						<a class="btn btn-share" href="javascript:void(0);" data-toggle="modal" data-target="#shareModal">Share</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Profile Detail End -->

	<!-- Picture Start -->
	<section class="picture">
		<div class="container-fliud">
			<div class="row">
				<div class="col-sm-12">
					<div class="picture-bg">
						<h3 class="pic-head">
							<img src="assets/images/pic-icon.png" alt="Pic Icon">
							Picture
						</h3>
						<ul class="pic-list" *ngIf='adData.adImages'>
							<li *ngIf='adData.adImages[0]'>
                                <a href="{{ adData.adImages[0] | server }}" target='_blank'>
                                    <img src="{{ adData.adImages[0] | server }}" alt="Picture">
                                </a>
							</li>
							<li *ngIf='adData.adImages[1]'>
								<a href="{{ adData.adImages[1] | server }}" target='_blank'>
                                    <img src="{{ adData.adImages[1] | server }}" alt="Picture">
                                </a>
							</li>
							<li style="cursor:pointer" *ngIf='adData.adImages.length > 2 && !showAllImages' (click)='showAllImages = true'>
								<img src="{{ adData.adImages[2] | server }}" alt="Picture">
								<div class="pic-overlay">
									+{{adData.adImages.length - 2}} <span>pics</span>
								</div>
							</li>
                            <ng-container *ngIf='showAllImages'>
                                <ng-container *ngFor='let image of adData.adImages; let i = index'>
                                    <li *ngIf='i > 2'>
                                        <a href="{{ image | server }}" target='_blank'>
                                            <img src="{{ image | server }}" alt="Picture">
                                        </a>
                                    </li>
                                </ng-container>
                            </ng-container>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Picture End -->

	<!-- Story Start -->
	<section class="story">
		<div class="container-fliud">
			<div class="row">
				<div class="col-lg-8 pr-0">
					<div class="story-bg">
						<h3 class="story-head">
							Story
						</h3>
						<p [innerHTML]="adData.description">
							<!-- Story in innerHtml -->
						</p>
					</div>
				</div>
				<div class="col-lg-4 location-space">
					<div class="location">
						<h4 class="location-head">Location</h4>
						<p>
							locations are approximate. click map to zoom.
						</p>
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15282193.48450025!2d73.73110161383379!3d20.750621076142888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30635ff06b92b791%3A0xd78c4fa1854213a6!2sIndia!5e0!3m2!1sen!2sin!4v1586799451010!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
					</div>
				</div>
				<div class="col-lg-8">
					
				</div>
				<div class="col-lg-4 location-space">
					<a href="javascript:void(0)" data-toggle="modal" data-target="#reportModal" class="btn btn-report">
						<i class="fa fa-flag"></i>
						Report Ad
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- Story End -->

	<!--Donation Modal Start -->
	<div class="modal donate-form fade" id="donationModal" role="dialog" aria-labelledby="donationModal" aria-hidden="true">
  		<div class="modal-dialog" role="document">
	    	<div class="modal-content">
	    		<div class="modal-header cancer-patient">
	        		<h2 class="cancer-head">Donate Housing</h2>
	        		<p>Give someone a place to stay.</p>
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close" #housingClose>
	          			<span aria-hidden="true">&times;</span>
	        		</button>
	      		</div>
	      		<div class="modal-body">
        			<div class="sigin-sec form-input">
						<form #housing='ngForm' (ngSubmit)='donate_housing(housing, housingClose)'>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="modal-label">I am offering*</label>
										<div class="select-wrap">
											<select class="form-control" name='housingType' #housingType='ngModel' ngModel required>
												<option value="">--Please Select--</option>
												<option value="Apartment">Apartment</option>
												<option value="Bachelor">Bachelor</option>
												<option value="Camper">Camper</option>
												<option value="Cottage">Cottage</option>
												<option value="Couch">Couch</option>
												<option value="Garage">Garage</option>
												<option value="House">House</option>
												<option value="Room">Room</option>
												<option value="Tenth">Tenth</option>
												<option value="Warehouse">Warehouse</option>
											</select>
											<div class="errors" *ngIf='housing.submitted && housingType.invalid'>
												<span class="error">Please select a Housing Type</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="modal-label">Phone Number* : </label>
										<input type="text" class="form-control" name="contact" placeholder="Phone No." #contact='ngModel' ngModel required pattern='[0-9]{10,13}'>
										<div class="errors" *ngIf='housing.submitted && contact.invalid'>
											<span class="error">Please enter a valid Phone Number</span>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label class="modal-label">Email* : </label>
										<input type="email" class="form-control" name="email" placeholder="Email Id" #email='ngModel' ngModel required pattern='^([a-zA-Z0-9_\.\+-]+)@([\da-zA-Z\.-]+)\.([a-zA-Z\.]{2,6})$'>
											<div class="errors" *ngIf='housing.submitted && email.invalid'>
												<span class="error">Please enter a valid email</span>
											</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<div class="radio-list">
											<label class="modal-label">Furnished* : </label>
											<div class="row">
												<div class="col-lg-6">
													<div class="city-checkbx-list">
														<label class="city-radio">
															Yes
															<input type="radio" checked="checked" name="furnished" [(ngModel)]='donateHousing.furnishedFlag' value='yes' required>
															<span class="checkmark"></span>
														</label>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="city-checkbx-list">
														<label class="city-radio">
															No
															<input type="radio" name="furnished" [(ngModel)]='donateHousing.furnishedFlag' value='no' required>
															<span class="checkmark"></span>
														</label>
													</div>
												</div>
												<div class="errors" *ngIf='housing.submitted && !donateHousing.furnishedFlag'>
													<span class="error">Please select a valid option</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<div class="radio-list">
											<label class="modal-label">Pet Friendly* : </label>
											<div class="row">
												<div class="col-lg-6">
													<div class="city-checkbx-list">
														<label class="city-radio">
															Yes
															<input type="radio" name="petFriendly" [(ngModel)]='donateHousing.petFlag' value='yes'>
															<span class="checkmark"></span>
														</label>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="city-checkbx-list">
														<label class="city-radio">
															No
															<input type="radio" name="petFriednly" [(ngModel)]='donateHousing.petFlag'  value='no'>
															<span class="checkmark"></span>
														</label>
													</div>
												</div>
												<div class="errors" *ngIf='housing.submitted && !donateHousing.petFlag'>
													<span class="error">Please select a valid option</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="modal-label">Available Date* : </label>
										<input type="date" class="form-control" name="availDate" placeholder="Availability Date" #availDate='ngModel' ngModel required>
										<div class="errors" *ngIf='housing.submitted && availDate.invalid'>
											<span class="error">Please select a valid Available Date</span>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="modal-label">Available length of stay* : </label>
										<input type="date" class="form-control" name="availEnd" placeholder="Availabillity End Date" #endDate='ngModel' ngModel required>
										<div class="errors" *ngIf='housing.submitted && endDate.invalid'>
											<span class="error">Please select a Availability End Date</span>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label class="modal-label">Description: </label>
										<textarea type="date" class="form-control" name="description" placeholder="Description" #description='ngModel' ngModel required></textarea>
										<div class="errors" *ngIf='housing.submitted && description.invalid'>
											<span class="error">Please write a description</span>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="modal-label">Your Address: </label>
										<input type="text" class="form-control" name="address" placeholder="Your Address" #address='ngModel' ngModel required>
										<div class="errors" *ngIf='housing.submitted && address.invalid'>
											<span class="error">Please enter a valid address</span>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
    									<label class="modal-label">Street Number: </label>
    									<input type="text" class="form-control" placeholder="Street Number" name="streetNumber" #streetNumber='ngModel' required ngModel>
											<div class="errors" *ngIf='housing.submitted && streetNumber.invalid'>
												<span class="error">Please enter a valid Street Number</span>
											</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="modal-label">Donate Address: </label>
										<input type="text" class="form-control" name="donateAddress" placeholder="Donate Address" #donateAddress='ngModel' ngModel required>
										<div class="errors" *ngIf='housing.submitted && donateAddress.invalid'>
											<span class="error">Please enter a valid Donate Address</span>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="modal-label">Property Location: </label>
										<input type="text" class="form-control" name="propertyLocation" placeholder="Property Location" #propertyLocation='ngModel' required ngModel>
										<div class="errors" *ngIf='housing.submitted && propertyLocation.invalid'>
											<span class="error">Please enter a valid Property Location</span>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="modal-label">City </label>
										<input type="text" class="form-control" name="city" placeholder="City" #city='ngModel' required ngModel pattern="[a-zA-Z0-9 \.-']+">
										<div class="errors" *ngIf='housing.submitted && city.invalid'>
											<span class="error">Please enter a valid city</span>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="modal-label">Province: </label>
										<input type="text" class="form-control" name="province" placeholder="Province" #province='ngModel' ngModel required pattern="[a-zA-Z \.-']+">
										<div class="errors" *ngIf='housing.submitted && province.invalid'>
											<span class="error">Please enter a valid Province</span>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="modal-label">Postal Code </label>
										<input type="text" class="form-control" name="postalCode" placeholder="Postal Code" #postalCode='ngModel' ngModel required>
										<div class="errors" *ngIf='housing.submitted && postalCode.invalid'>
											<span class="error">Please enter a valid Postal Code</span>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="modal-label">Upload Image (Max 6 Images)  </label>
										<input type="file" style='display: block;' name='galleryImages' multiple id="gallery-photo-add" class="form-control" #image='ngModel' ngModel required accept="images/*" (change)='donation_images($event)'>
									</div>
									<div class="errors" *ngIf='housing.submitted && donateHousing.files.length == 0'>
										<span class="error">Please select required Images (max 6)*</span>
									</div>
								</div>
								<div class="col-sm-12 py-1">
									<h4><small>{{donateHousing.files.length }} Images Added</small></h4>
									<div class="gallery" style='display: flex; flex-wrap: wrap;'>
										<div class="image m-1" *ngFor='let imagePrev of donateHousing.filesBase64'>
											<img src="{{imagePrev}}" alt="Uploaded Image" title="Image you uploaded" style='width: 100px; height: 100px;'>
										</div>
									</div>
								</div>
								<div class="col-sm-12">
									<div class="form-group">
										<input type="submit" class="btn signup_button" name="submit" value="Submit">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
	    	</div>
	  	</div>
	</div>
	<!-- Donation Modal End -->

	<!-- Share Modal Start -->
	<div class="modal fade sharemodal" id="shareModal" role="dialog" aria-labelledby="shareModal" aria-hidden="true">
  		<div class="modal-dialog" role="document">
	    	<div class="modal-content" [hidden]='displayEmbed'>
	    		<div class="modal-header cancer-patient">
	        		<h2 class="cancer-head">Help by Sharing</h2>
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          			<span aria-hidden="true">×</span>
	        		</button>
	      		</div>
	      		<div class="modal-body">
        			<div class="share-sec text-center">
        				<p>Fundraisers shared on social networks raise up to 5x more</p>
					</div>
					<div class="share-list">
						<div class="row">
							<div class="col-lg-3 col-md-6">
								<div class="share-modal-list">
									<a title="Share it on Facebook" href="{{ facebookSharer }}" target="_blank">
										<i class="fa fa-facebook-official" aria-hidden="true"></i>
										Facebook
									</a>
								</div>
							</div>
							<div class="col-lg-3 col-md-6">
								<div class="share-modal-list">
									<a href="{{ twitterSharer }}" target="_blank">
										<i class="fa fa-twitter" aria-hidden="true"></i>
										Twitter
									</a>
								</div>
							</div>
							<div class="col-lg-3 col-md-6">
								<div class="share-modal-list">
									<a href='{{ emailSharer }}' target='_blank'>
										<i class="fa fa-envelope-o" aria-hidden="true"></i>
										Email
									</a>
								</div>
							</div>
							<div class="col-lg-3 col-md-6">
								<div class="share-modal-list">
									<a href='{{whatsappSharer}}' target='_blank'>
										<i class="fa fa-whatsapp" aria-hidden="true"></i>
										WhatsApp
									</a>
								</div>
							</div>
							<div class="col-lg-3 col-md-6">
								<div class="share-modal-list">
									<a ata-toggle="modal" data-target="#embedHtml" data-backdrop="static" (click)='openEmbed();' >
										<i class="fa fa-code" aria-hidden="true"></i>
										Embed HTML
									</a>
								</div>
							</div>
							<div class="col-lg-3 col-md-6">
								<div class="share-modal-list">
									<a href='javascript:void(0)' (click)="PrintDiv()">
										<i class="fa fa-print" aria-hidden="true"></i>
										Print Poster
									</a>
								</div>
							</div>
						</div>
					</div>
					<form class="copy-form">
						<label>Copy Link</label>
						<input type="text" class="form-control" id="copyTarget" placeholder="Copy Link" value="{{currentUrl}}" #input>
						<button class="btn btn-copy" type="button" id="copyButton" (click)='clipboard(input)'>Copy</button>
						<p class="copy-msg">
							<i class="fa fa-check"></i>Copy Link
						</p>
					</form>
					<div class="tip-sec">
						<p>
							<strong>Tip:</strong>&nbsp;Paste this fundraiser link anywhere.
						</p>
						<ul>
							<li>
								<a href="javascript:void(0);">
									<img src="assets/images/instagram.png" alt="Tip Images">
								</a>
							</li>
							<li>
								<a href="javascript:void(0);">
									<img src="assets/images/slack.png" alt="Tip Images">
								</a>
							</li>
							<li>
								<a href="javascript:void(0);">
									<img src="assets/images/home-icon.png" alt="Tip Images">
								</a>
							</li>
							<li>
								<a href="javascript:void(0);">
									<img src="assets/images/dot.png" alt="Tip Images">
								</a>
							</li>
						</ul>
					</div>
				</div>
	    	</div>
	  	</div>
	</div>
	<!-- Share Modal End -->

	<!-- Login Modal Start -->
	<div class="modal fade" id="loginModal" aria-labelledby="loginModal" aria-hidden="true">
  		<div class="modal-dialog" role="document">
	    	<div class="modal-content">
	      		<div class="modal-header cancer-patient">
	        		<h2 class="cancer-head">Login</h2>
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          			<span aria-hidden="true">&times;</span>
	        		</button>
	      		</div>
	      		<div class="modal-body">
        			<div class="login-form">
						<div class="row">
							<div class="col-md-12">
								<form>
									<div class="form-group">
										<label class="form-label">Username or E-mail</label>
										<input class="form-control" type="text" name="username" placeholder="User Name">
									</div>
									<div class="form-group">
										<label class="form-label">Password</label>
										<input class="form-control" type="password" name="password" placeholder="Password">
									</div>
									<div class="row">
										<div class="col-lg-6">
											<div class="form-group">
												<div class="city-checkbx-list">
													<label class="city-checkbox">
														Donner
														<input type="radio" checked="checked" name="radio">
														<span class="checkmark"></span>
													</label>
												</div>
											</div>	
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<div class="city-checkbx-list">
													<label class="city-checkbox">
														Reciever
														<input type="radio" name="radio">
														<span class="checkmark"></span>
													</label>
												</div>
											</div>	
										</div>
									</div>
									<div class="form-group">
										<input type="submit" value="Login" class="btn btn-login">
									</div>
									<a href="javascript:void(0);" data-toggle="modal" data-target="#registerModal" data-dismiss="modal" class="register"> New to MyIssues? SignUp</a>
									<a href="javascript:void(0);" data-toggle="modal" data-target="#forgotModal" data-dismiss="modal" class="register link-forgot">Forgot your password?</a>
								</form>
							</div>
						</div>
					</div>
				</div>
	    	</div>
	  	</div>
	</div>
	<!-- Login Modal End -->

	<!-- Register Modal Start -->
	<div class="modal fade" id="registerModal">
  		<div class="modal-dialog" role="document">
	    	<div class="modal-content">
	      		<div class="modal-header cancer-patient">
	        		<h2 class="cancer-head">Register</h2>
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          			<span aria-hidden="true">&times;</span>
	        		</button>
	      		</div>
	      		<div class="modal-body">
        			<div class="login-form">
						<div class="row">
							<div class="col-md-12">
								<form>
									<div class="form-group">
										<label class="form-label">User Name</label>
										<input class="form-control" type="text" name="username" placeholder="User Name">
									</div>
									<div class="form-group">
										<label class="form-label">First Name</label>
										<input class="form-control" type="text" name="firstname" placeholder="First Name">
									</div>
									<div class="form-group">
										<label class="form-label">Last Name</label>
										<input class="form-control" type="text" name="lastname" placeholder="Last Name">
									</div>
									<div class="form-group">
										<label class="form-label">E-mail Address</label>
										<input class="form-control" type="email" name="email" placeholder="E-mail Address">
									</div>
									<div class="form-group">
										<label class="form-label">Password</label>
										<input class="form-control" type="password" name="password" placeholder="Password">
									</div>
									<div class="form-group">
										<label class="form-label">Confirm Password</label>
										<input class="form-control" type="password" name="cpassword" placeholder="Confirm Password">
									</div>
									<div class="form-group">
										<input type="submit" value="Register" class="btn btn-login">
									</div>
									<a href="javascript:void(0);" data-toggle="modal" data-target="#loginModal" data-dismiss="modal" class="register">Existing User? Login</a>
								</form>
							</div>
						</div>
					</div>
				</div>
	    	</div>
	  	</div>
	</div>
	<!-- Register Modal End -->

	<!-- Forgot Password Modal Start -->
	<div class="modal fade" id="forgotModal">
  		<div class="modal-dialog" role="document">
	    	<div class="modal-content">
	      		<div class="modal-header cancer-patient">
	        		<h2 class="cancer-head">Forgot Password</h2>
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          			<span aria-hidden="true">&times;</span>
	        		</button>
	      		</div>
	      		<div class="modal-body">
        			<div class="login-form">
						<div class="row">
							<div class="col-md-12">
								<form>
									<div class="form-group">
										<label class="form-label">Enter your register email address</label>
										<input class="form-control" type="email" name="email" placeholder="Email Address">
									</div>
									<div class="form-group">
										<input type="submit" value="Submit" class="btn btn-login">
									</div>
									<a href="javascript:void(0);" data-toggle="modal" data-target="#loginModal" data-dismiss="modal" class="register">Have an Account? Login</a>
								</form>
							</div>
						</div>
					</div>
				</div>
	    	</div>
	  	</div>
	</div>
	<!-- Forgot Password Modal End -->

	<!-- Report Ad Modal Start -->
	<div class="modal fade" id="reportModal" role="dialog" aria-labelledby="reportModal" aria-hidden="true">
  		<div class="modal-dialog" role="document">
	    	<div class="modal-content">
	      		<div class="modal-header cancer-patient">
	        		<h2 class="cancer-head">Report ad</h2>
	        		<p>This information will not be published.</p>
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close" #reportClose>
	          			<span aria-hidden="true">&times;</span>
	        		</button>
	      		</div>
	      		<div class="modal-body">
        			<div class="login-form">
						<div class="row">
							<div class="col-md-12">
								<form #reportForm='ngForm' (ngSubmit)='report_ad(reportForm, reportClose)'>
									<div class="form-group">
										<label class="form-label">Name*</label>
										<input class="form-control capitalize" type="text" name="name" placeholder="Name" pattern='[a-zA-Z ]+' #name='ngModel' required ngModel>
                                        <div class="errors" *ngIf='reportForm.submitted && name.invalid'>
                                            <span class="error">Please enter a valid name</span>
                                        </div>
									</div>
									<div class="form-group">
										<label class="form-label">Email*</label>
										<input class="form-control" type="email" name="email" placeholder="Email" pattern='^([a-zA-Z0-9_\.\+-]+)@([\da-zA-Z\.-]+)\.([a-zA-Z\.]{2,6})$' required #emailInput='ngModel' ngModel>
                                        <div class="errors" *ngIf='reportForm.submitted && emailInput.invalid'>
                                            <span class="error">Please enter a valid email</span>
                                        </div>
									</div>
									<div class="form-group">
										<label class="form-label">Mobile Number*</label>
										<input class="form-control" type="text" name="contact" placeholder="Mobile Number" pattern='[0-9]{10}' required #contactInput='ngModel' ngModel>
                                        <div class="errors" *ngIf='reportForm.submitted && contactInput.invalid'>
                                            <span class="error">Please enter a valid mobile number</span>
                                        </div>
									</div>
									<div class="form-group">
										<label class="form-label">Message*</label>
										<textarea class="form-control" type="text" name="message" placeholder="Message" required #message='ngModel' ngModel></textarea>
                                        <div class="errors" *ngIf='reportForm.submitted && message.invalid'>
                                            <span class="error">Please enter a message</span>
                                        </div>
									</div>
									<div class="form-group">
										<input type="submit" value="Submit" class="btn btn-login">
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
	    	</div>
	  	</div>
	</div>
	<!-- Report Ad Modal End -->



    <div class="modal fade" [class.show]='displayEmbed' id="embedHtml" role="dialog" aria-labelledby="embedHtml">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
          <div class="modal-header cancer-patient">
              <h2 class="cancer-head"></h2>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)='displayEmbed = false;'>
                        <span aria-hidden="true">×</span>
                  </button>
            </div>
                <div class="modal-body">
                  <div class="row">
                          <div class="col-lg-6 col-md-6">
                              <div class="row">
                                  <div class="col-lg-12 col-md-12">
                                      <label class="heading-2">Embed HTML</label>
                                  </div>
                                  <div class="col-lg-12 col-md-12">
                                      <label>
                                          <button class="mb a-button a-button--inline" type="button">
                                              <input class="l-campaign-embed-form-inpu size" type="radio" name="size" id="" data-val="Large" checked="" (click)='embedChange("large")'>
                                              <span class="ml"> Large </span>
                                          </button>
                                          <br>
                                          <button class="mb a-button a-button--inline" type="button">
                                              <input class="l-campaign-embed-form-input size" type="radio" name="size" id="size" data-val="Medium"  (click)='embedChange("medium")'>
                                              <span class="ml"> Medium </span>
                                          </button>
                                          <br>
                                          <button class="mb-three-halves a-button a-button--inline" type="button">
                                              <input class="l-campaign-embed-form-input size" type="radio" name="size" id="size" data-val="Small" (click)='embedChange("small")'>
                                              <span class="ml"> Small (Button only) </span>
                                          </button>
                                      </label>
                                      <div class="show-for-medium mt0 a-rule a-rule--horizontal"></div>
                                  </div>	
                                  <div class="col-lg-12 col-md-12">
                                      <div class="show-for-medium"><p>Copy and paste the following embed code:</p></div>	
                                      <div class="l-campaign-embed-form-clipboard m-clipboard-field m-clipboard-field--stacked">
                                          <div class="m-clipboard-field-inner">
                                              <div class="m-clipboard-field-content" id="dynamic">
                                                  <pre class="a-code-block" id="abc" style="border:1px soli red;" data-element-id="input_share_embed_copy" data-analytic-event-listener="true"><code class="a-code-block-inner">&lt;div class="gfm-embed" data-url="{{ embedLink }}"&gt;&lt;/div&gt;&lt;script defer src="{{'assets/js/embed.js' | server}}"&gt;&lt;/script&gt;</code></pre>
                                                  <textarea #embedHTML style='position: fixed; bottom: 100%'>&lt;div class="gfm-embed" data-url="{{ embedLink }}"&gt;&lt;/div&gt;&lt;script defer src="{{'assets/js/embed.js' | server}}"&gt;&lt;/script&gt;</textarea>
                                              </div>
                                          </div>
                                      </div>
                                      <!---generate js url-->
                                      <p id="ur"></p>
                                      <!---generate js url-->
                                      <div>
                                          <button aria-label="Copy to clipboard" class="m-clipboard-field-button a-button a-button--inline a-button--large a-button--hollow-green" data-element-id="btn_share_embed_copy" id="embed-to-clipboard-button" type="button" data-analytic-event-listener="true" (click)="clipboard(embedHTML)">Copy HTML code</button>
                                          <br>
                                          <span id="msg"></span>
                                      </div>
                                          <br>
                                      <div class="show-for-medium mt">What is this? &nbsp;<a class="a-link" href="https://www.gofundme.com/c/donate-button-individuals" data-element-id="btn_embed_learn_more" target="_blank" data-analytic-event-listener="true">Learn more</a></div>
                                      
                                      
                                  </div>
                              </div>
                          </div>
                      
                          
                          <div class="col-lg-6 col-md-6">
                              <div class="row">
                                  <div class="col-lg-12 col-md-12">
                                  <div class="l-campaign-embed-form-preview l-campaign-embed-form-preview-width">
                                  <div class="mb"><h2 class="heading-5 mb0">Preview</h2>
                                  
                                      <span id="embd">
                                            <div class="o-campaign-embed-image a-image a-image--background embedd" [class.show]='embed.large'>
                                                  <img style="width:100%;height:250px;" src="{{(adData.adImages?.length > 0)? (adData.adImages[0] | server) : 'assets/images/no-image.jpg' }}">
                                              </div>
                                              <div class="o-campaign-embed-content">
                                                  <h1 class="o-campaign-embed-heading embedd" [class.show]='embed.large || embed.medium'>{{adData.firstName}} {{ adData.adTitle }} </h1>
                                                  <div class="m-progress-meter embedd" [class.show]='embed.large || embed.medium'>
                                                      <progress class="a-progress-bar a-progress-bar--green  " value="105.26315789473684" max="100"></progress>
                                                      <h2 class="m-progress-meter-heading">${{(adData.donations?.amount) || "0"}}<span class="text-stat text-stat-title"> raised <!--of $9,500 goal--></span></h2>
                                                  </div> 
                                                  <div class="o-campaign-embed-cta embedd" [class.show]='embed.large || embed.small || embed.medium'>
                                                      <button class="o-campaign-embed-button exp-gradient-gfm exp-gradient-gfm--donate ml0 mr0 a-button a-button--max-full a-button--large a-button--solid-yellow" type="button">Donate now</button>
                                                      
                                                      <div class="o-campaign-embed-logo ml">
                                                          <svg class="a-logo color-green" height="69" viewBox="0 0 129 69" width="80">
                                                          </svg><img src="assets/images/logo.png" alt="Logo" width="80px">
                                                          
                                                      </div>
                                                  </div>
                                              </div>
                                      </span>
                                  </div>
                                  
                                  </div>
                                  </div>
                              </div>
                          </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
    
    
      <div id="divToPrint" style="display:none;">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <!-- Custom Css Start -->
        <link rel="stylesheet"  href="/assets/Stylesheets/style.css">
        <link rel="stylesheet"  href="/assets/Stylesheets/responsive.css">
        <!-- Custom Css End -->
        <!-- Profile Detail Start -->
    <style>
    .p-print-poster-page-tab-wrap {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 18.75rem;
    position: relative;
    }
    .p-print-poster-page-tab {
    height: 18.75rem;
    position: relative;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 7.25rem;
    }
    </style>
            <section class="profile-detail" style="border:3x solid #8d0b77;text-align:center;">
                <div class="container-fliud" style="border:0px solid red;">
                    <div class="row" style="border:0px solid red;">
                        <div class="col-lg-8" style="border:0px solid red; margin: 0px auto">
                            <h1><img src="assets/images/logo.png" alt="Logo" width="200px"></h1>
                            <hr>
                            <h2><b>Search Myissues.ca for</b></h2>
                            <h1><b>{{adData.firstName + " " + adData.adTitle}}</b></h1>
                        </div>
                        
                        <div class="col-lg-8" style="border:0px solid red; margin: 0px auto">
                            <div class="profile-img " style="border:0px solid red;">
                                <img src="{{adData.adImages && adData.adImages.length > 0? ( adData.adImages[0] | server ):'http://localhost:4200/assets/frontend/no-image.jpg'}}" style="height: 60%; width:100%;">
    
                                <hr><h2 style='text-align:center;'>Show your support by going to this link</h2>
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                {{currentUrl}}<p></p>
                            </div>
                            
                            <div class="p-print-poster-page-tab-wrap" style='display: flex;'>
                                <div class="p-print-poster-page-tab">
                                    <div class="p-print-poster-page-rotate">
                                        <svg class="p-print-poster-page-tab-logo color-green a-logo color-green" height="69" viewBox="0 0 129 69" width="129">
                                            </svg><img src="assets/images/logo.png" alt="Logo" width="129px">
                                        
                                        <div>{{currentUrl}}</div>
                                    </div>
                                </div>
                                
                                <div class="p-print-poster-page-tab">
                                    <div class="p-print-poster-page-rotate">
                                        <svg class="p-print-poster-page-tab-logo color-green a-logo color-green" height="69" viewBox="0 0 129 69" width="129">
                                            </svg><img src="assets/images/logo.png" alt="Logo" width="129px">
                                        
                                        <div>{{currentUrl}}</div>
                                    </div>
                                </div>
                                <div class="p-print-poster-page-tab">
                                    <div class="p-print-poster-page-rotate">
                                        <svg class="p-print-poster-page-tab-logo color-green a-logo color-green" height="69" viewBox="0 0 129 69" width="129">
                                            </svg><img src="assets/images/logo.png" alt="Logo" width="129px">
                                        
                                        <div>{{currentUrl}}</div>
                                    </div>
                                </div>
                                
                                <div class="p-print-poster-page-tab">
                                    <div class="p-print-poster-page-rotate">
                                        <svg class="p-print-poster-page-tab-logo color-green a-logo color-green" height="69" viewBox="0 0 129 69" width="129">
                                            </svg><img src="assets/images/logo.png" alt="Logo" width="129px">
                                        
                                        <div>{{currentUrl}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>