<footer class="custom-footer">
    <div class="upper-footer">
        <div class="container">
            <div class="upper-footer-inner-content">
                <div class="row">
                    <div class="col-md-4 mb-30">
                        <div class="custom-footer-logo">

                            <a href="http://myissuesinc.ca/" class="custom-logo-link" rel="home"><img width="200"
                                    height="98" src="http://myissuesinc.ca/assets/upload/banner/158841899320200502.jpg"
                                    class="custom-logo" alt="My Issues"></a>
                            <section id="text-2" class="widget widget_text">
                                <div class="textwidget">
                                    <p>We feed the hungry today and create solutions that will end hunger tomorrow</p>
                                </div>
                            </section>
                        </div>
                        <div class="social-media">
                            <ul id="menu-social-menu" class="menu">
                                <li id="menu-item-79" class="fa fa-facebook">
                                    <a target="_blank" href="javascript:void(0)">Facebook</a>
                                </li>
                                <li id="menu-item-80" class="fa fa-twitter">
                                    <a target="_blank" href="javascript:void(0)">Twitter</a>
                                </li>
                                <li id="menu-item-81" class="fa fa-instagram">
                                    <a target="_blank" href="javascript:void(0)">Instagram</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 mb-30">
                        <div class="custom-footer-menu-links custom-footer-links">
                            <section id="nav_menu-2" class="widget widget_nav_menu">
                                <h5 class="widget-title">Quick Links</h5>
                                <div class="menu-quick-links-container">
                                    <ul id="menu-quick-links" class="menu">
                                        <li id="menu-item-94"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-94">
                                            <a href="javascript:void(0)">About us</a>
                                        </li>
                                        <li id="menu-item-83"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-83">
                                            <a href="http://myissuesinc.ca/food-bank">Food Bank</a>
                                        </li>
                                        <li id="menu-item-82"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-82">
                                            <a href="http://myissuesinc.ca/agencies">Agencies</a>
                                        </li>
                                        <li id="menu-item-85"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-85">
                                            <a href="javascript:void(0)">How it Works</a>
                                        </li>
                                        <li id="menu-item-22131"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22131">
                                            <a href="javascript:void(0)">Aadvertising</a>
                                        </li>
                                        <li id="menu-item-91"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-91">
                                            <a href="javascript:void(0)">Privacy Policy</a>
                                        </li>
                                        <li id="menu-item-90"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-90">
                                            <a href="javascript:void(0)">Contact us</a>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="col-md-3 mb-30">
                        <div class="custom-footer-links">
                            <section id="text-3" class="widget widget_text">
                                <h5 class="widget-title">Get In Touch</h5>
                                <div class="textwidget">
                                    <div role="form" class="wpcf7" id="wpcf7-f5-o1" lang="en-US" dir="ltr">

                                        <form action="http://myissuesinc.ca/join-discussion" method="post"
                                            id="join_discussion" class="wpcf7-form">
                                            <div style="display: none;">
                                                <input type="hidden" name="_wpcf7" value="5">
                                                <input type="hidden" name="_wpcf7_version" value="5.1.7">
                                                <input type="hidden" name="_wpcf7_locale" value="en_US">
                                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f5-o1">
                                                <input type="hidden" name="_wpcf7_container_post" value="0">
                                            </div>
                                            <div class="custom-footer-form">
                                                <div class="form-group">
                                                    <span class="wpcf7-form-control-wrap your-name"><input type="text"
                                                            name="name" id="name" value="" size="40"
                                                            class="wpcf7-form-control wpcf7-text form-control"
                                                            aria-invalid="false" placeholder="Name"></span>
                                                </div>
                                                <div class="form-group">
                                                    <span class="wpcf7-form-control-wrap email">
                                                        <input type="email" name="email" value="" id="email" size="40"
                                                            class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control"
                                                            aria-required="true" aria-invalid="false"
                                                            placeholder="Enter Email"></span>
                                                </div>
                                                <div class="form-group">
                                                    <span class="wpcf7-form-control-wrap Message"><textarea
                                                            name="description" id="comment" cols="40" rows="10"
                                                            class="wpcf7-form-control wpcf7-textarea form-control"
                                                            aria-invalid="false"
                                                            placeholder="Message"></textarea></span>
                                                </div>
                                                <p> <input type="submit" value="Submit"
                                                        class="wpcf7-form-control wpcf7-submit submit-btn hvr-buzz-out"><span
                                                        class="ajax-loader"></span>
                                                </p>
                                            </div>
                                            <div class="wpcf7-response-output wpcf7-display-none"></div>

                                        </form>

                                    </div>
                                </div>

                            </section>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="custom-footer-address-links custom-footer-links">
                            <section id="text-4" class="widget widget_text">
                                <h5 class="widget-title">Contact</h5>
                                <div class="textwidget">
                                    <ul>
                                        <li><i class="fa fa-map-marker"></i>{{sitefooter.location}}</li>
                                        <li><a href="tel:+0123456789"><i class="fa fa-phone"></i>{{sitefooter.contactNo}}</a></li>
                                        <li><a href="mailto:info@example.com"><i
                                                    class="fa fa-envelope"></i>{{sitefooter.email}}</a></li>
                                    </ul>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lower-footer">
        <div class="container">
            <div class="copy">
                <p>Copyright © 2019 Myissues Inc. All Rights Reserved </p>
            </div>
        </div>
    </div>
</footer>