<div class="card">
    <p-toolbar styleClass="p-mb-1">
      <ng-template pTemplate="left">
        <p-breadcrumb [model]="items"></p-breadcrumb>
      </ng-template>
  
    </p-toolbar>
  
    <p-tabView styleClass="tabview-custom">
        <p-tabPanel>
            <ng-template pTemplate = "header">
                <i class="pi pi-user"></i>
                <span>Adveritsement Detail</span>
            </ng-template>
            <div class="card">
                <p-table #dt [value]="siteDetail" [rows]="5" [paginator]="false" [(selection)]="selectedProducts" [rowHover]="true"
                    dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true" styleClass="p-datatable-striped ">
                    <ng-template pTemplate="caption" >
                        <div class="p-d-flex p-ai-center p-jc-between">
                            <h5 class="p-m-0">Advertisement Content</h5>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td><strong>Ad Id</strong>
                            </td>
                            <td>
                              
                                    {{product._id}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Ad Title</strong>
                            </td>
                            <td>
                              
                                    {{product.adTitle}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Receiver Name</strong>
                            </td>
                            <td *ngIf='product.firstName'>
                               
                                    {{product.firstName + " " + product.lastName}}
                            </td>
                            <td *ngIf='product.ownerType == "agency"'>
                                   {{ product.agencyTitle }}
                            </td>
                            <td *ngIf='product.ownerType == "sponsor"'>
                                   {{ product.sponsorTitle }}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Receiver Type</strong>
                            </td>
                            <td>
                               {{ product.ownerType }}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Category Name</strong>
                            </td>
                            <td>
                                    {{product.categoryName }}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Location</strong>
                            </td>
                            <td>
                                {{product.country + " > " + product.state + " > " + product.city}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Description</strong>
                            </td>
                            <td [innerHTML]='product.description'>
                                
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Ad Images</strong>
                            </td>
                            <td >
                                <div style='display: flex; flex-wrap: wrap'>
                                    <div class="image" *ngFor='let image of product.adImages'>
                                        <a href="{{image | server}}" target="_blank">
                                            <img src="{{ image | server}}" alt="Ad Image added by the user" style='width: 100px; height: 100px; margin: 5px'>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Identity Images</strong>
                            </td>
                            <td>
                                <div style='display: flex; flex-wrap: wrap'>
                                    <div class="image" *ngFor='let image of product.identityImages'>
                                        <a href="{{image | server}}" target="_blank">
                                            <img src="{{ image | server}}" alt="Identity Image added by the user" style='width: 100px; height: 100px; margin: 5px;'>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Ad Video</strong>
                            </td>
                            <td>
                                <video src="{{ product.adVideo | server }}" style="width:150px; height: 100px;"></video>
                                <div>
                                    <a href="{{ product.adVideo | server }}" target='_blank'>Click To Watch
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Total Donations</strong>
                            </td>
                            <td>
                                ${{product.donations.amount}}
                            </td>
                        </tr>
                        
                        <tr>
                            <td><strong>Total Donors</strong>
                            </td>
                            <td>
                                {{product.donations.count}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Total Views</strong>
                            </td>
                            <td>
                                {{product.viewsCount}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Reports</strong>
                            </td>
                            <td style='cursor: pointer' [routerLink]="['/admin-module/reports/', product._id]">
                                {{product.reports}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Published On</strong>
                            </td>
                            <td>
                                {{product.publishedOn | date: "medium"}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Approved On</strong>
                            </td>
                            <td>
                                {{product.approvedOn | date: "medium"}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Action</strong></td>
                            <td>
                                <button pButton pRipple type="button" label="Allot" class="p-button-raised p-button-success" (click)="allot()" *ngIf="product.donations.donatedHousings==null"></button>
                                <p *ngIf='product.donations.donatedHousings'>Allocated donated house with id <a [routerLink]='["/admin-module/donated-housings/full/", houseId]'>{{houseId}}</a></p>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-tabPanel>
    </p-tabView>
  </div>


  <p-confirmDialog [style]="{width: '65vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
   <!-- Message -->
            
   <p-toast></p-toast>

