$color-pink: #962582;
$color-cyan: #006f85;
$color-yellow: #ffb625;
$color-black: #000;
$color-white: #fff;
$color-light-1: #fafafa;
$color-light-2: #f4f2f2;
$color-light-3: #c4c5ca;
$color-light-4: #f1f1f1;
$color-gray-1: #878787;
$color-gray-2: #626468;
$color-gray-3: #4a4a4a;