.blog-header {
    .navbar {
        .nav-link {
            i {
                @media (max-width: 449px) {
                    font-size: 40px;
                }
            }
        }
        .dropdown {
            .dropdown-toggle {
                @include font-style(16px, 500, $color-cyan);
                text-transform: uppercase;
                @media (max-width: 767px) {
                    font-size: 12px;
                }

                .profile-image {
                    width: 80px;
                    height: 80px;
                    border: 1px solid $color-cyan;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-left: 5px;
                    @media (max-width: 767px) and (min-width: 450px){
                        width: 50px;
                        height: 50px;
                    }
                    @media (max-width: 449px) {
                        width: 40px;
                        height: 40px;
                    }
                }

            }
    
        }
    }
}

.blog-header {
    .input-group {
        position: relative;

        .fa-search {
            position: absolute;
            left: 15px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 999;
        }

        .form-control {
            border: 1px solid #141922;
            padding-left: 40px;
            border-top-left-radius: 30px !important;
            border-bottom-left-radius: 30px !important;
            @include font-style(18px, 400, $color-black);

            &::placeholder {
                @include font-style(18px, 400, $color-black);
            }
        }

        .btn-cyan {
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
        }
    }

    .navbar-nav {
        .nav-link {
            @include font-style(20px, 500, $color-black);
            padding-left: 1rem;
            padding-right: 1rem;
            &.text-cyan {
                color: $color-cyan;
            }

            @media (max-width: 1340px) {
                font-size: 18px;
            }
        }

        .dropdown {
            .profile-image {
                width: 55px;
                height: 55px;
                border-radius: 50%;
                object-fit: contain;
                border: 1px solid $color-cyan;

            }
        }
    }
}