@import url(../abstracts/_mixins.scss);

.navbar {

    .nav-link {
        @media (min-width: 768px) {
            padding-left: 1rem !important;
            padding-right: 1rem !important;
        }
        i {
           font-size: 50px;
           color: $color-black;
        }
    }

    @media (max-width: 767px) {
        .navbar-brand {
            max-width: 150px;
        }

        &.navbar-expand{
            .navbar-nav {
                .nav-link {
                    padding-right: 0;
                    img {
                        width: 80%;
                        min-width: 30px;
                    }
                }
            }
        }
    }
    

    .dropdown {
        .dropdown-toggle {
            @include font-style(30px, 500, $color-black);
            @media (max-width: 767px) {
                font-size: 20px;
            }

            &::after {
                vertical-align: 0.1em;
            }
        }

    }
 
}