
	<!-- Found Work Start -->
	<section class="found-work">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="found-work-des">
						<h2>
							How MyIssues Works
						</h2>
						<p>
							MyIssues is the best place to funraise, whether you are individual,group, or organization.
						</p>
						<iframe width="100%" height="315" src="https://www.youtube.com/embed/f7hbWvHKns0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Found Work End -->

	<!-- Start Sec Start -->
	<section class="start-sec">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="found-list">
						<span>
							1
						</span>
						<h3>
							Start your campaign
						</h3>
						<ul>
							<li>
								Set your funraising goal
							</li>
							<li>
								Tell your story
							</li>
							<li>
								Ad a picture of video
							</li>
						</ul>
						<a href="#">Watch video</a>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="found-list">
						<span>
							2
						</span>
						<h3>
							Start with friends
						</h3>
						<ul>
							<li>
								Send emails
							</li>
							<li>
								Send text messages
							</li>
							<li>
								Share on social media
							</li>
						</ul>
						<a href="#">Watch video</a>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="found-list">
						<span>
							3
						</span>
						<h3>
							Manage donations
						</h3>
						<ul>
							<li>
								Accept donations
							</li>
							<li>
								Thank donors
							</li>
							<li>
								Withdraw funds
							</li>
						</ul>
						<a href="#">Watch video</a>
					</div>
				</div>
				<div class="col-lg-12">
					<a class="btn btn-green" (click)='openRegister()'>
						Start Your Account
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- Start Sec End -->

	<!-- Fast Sec Start -->
	<section class="fast-sec found-work">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="found-work-des">
						<h2>
							Fast,free,and safe
						</h2>
						<p>
							<b>
								How does Myissues work?
							</b>
						</p>
						<p>
							Myissues makes it incredibly easy to get support online for the things that matter to you most. In just a few minutes, you'll be able to personalize your Add campaign and share it with the people in your Community. In fact, Hundreds of People have been helped by posting their Adds on Myissues. 
						</p>
						<p>
							<b>
								How it works
							</b>
						</p>
						<p>
							With Myissues, the money or Food you collect goes directly to you. There are no deadlines or limits each donation you receive is yours to keep. Raising money for Housing or Food has never been easier. Plus, we're here to help. Myissues will respond to your emails 24/7. Start getting support Now 
						</p>
						<p>
							<b>
								What can I raise money for?
							</b>
						</p>
						<p>
							We see people use Myissues to raise money for Day to Day living, clothing and housing, or even to help strangers in random acts of kindness. People raise money for just about everything, includingmedicalexpenses, and Medical issues. Rent. Bills. Food. Bus fare. & pet Food.
						</p>
						<p>
							<b>
								How does Myissues keep campaigns safe?
							</b>
						</p>
						<p>
							Myissues features the very best in secure payment encryption technology. Your donors' online payments are safe, and your money is stored securely until you're ready to request a withdrawal via electronic Email transfer. Or if you don't have a bank Account or an address you can request cash or food donations pickup at our office. People that have an address you can request cash or food Delivery.
						</p>
						<p>
							<b>
								Are there any deadlines or time limits?
							</b>
						</p>
						<p>
							No, never. With Myissues, there are no deadlines or time limits. Your Add will remain alive until you choose to turn off donations or remove the Ad altogether. Most people leave their add active indefinitely to refer back to the kind comments and support they received.
						</p>
						<p>
							<b>
								What happens win I reach my goal?
							</b>
						</p>
						<p>
							No problem. Reaching your goal is no problem. With Myissues, you keep each and every donation you receive. Your add will be able to accept donations even after your goal is reached. Once the goal is reached, If you’d like to continue raising money, you can keep your add running for as long as you’d like. Start getting support Now.
						</p>

						<a class="btn btn-green-border" (click)='openRegister()'>
							Start Your Account
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Fast Sec End -->