
<form class="card mb-5"  #form='ngForm' (ngSubmit)="nextPage(form)" style="min-height: 450px;width: 100%;margin: 10 auto;">
    <!-- <div class="card-header">
        
    </div> -->
    <div class="card-body">
      <h2 class="">Referrence Detail</h2>
        <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="form-group mt-3">
                  <label for="float-input1">First Reference Name*</label>
                          <input id="float-input1" type="text" class='form-control capitalize' autocapitalize="words" name="name1" #name1='ngModel' pattern='[a-zA-Z ]+' [(ngModel)]="neighbours1.name" required> 
                  <small id="model" class="p-error" *ngIf='form.submitted && name1.invalid'>First Reference Name is Required.</small>
                </div>
            </div>
  
            <div class="col-md-6 col-sm-12">
              <div class="form-group mt-3">
                <label for="float-input2">First Reference Contact*</label>
                      <input id="float-input2" type="text" class='form-control' name="contact1" #contact1='ngModel' pattern='[\+0-9]+' maxlength="13" [(ngModel)]="neighbours1.contact" required> 
                <small id="model" class="p-error" *ngIf='form.submitted && contact1.invalid'>First Reference Contact Number is Required.</small>
              </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="form-group mt-3">
                  <label for="float-input3">First Reference Extension*</label>
                          <input id="float-input3" type="text" class='form-control' name="extension1" [(ngModel)]="neighbours1.extension" #extension1='ngModel' pattern='[0-9]+' required> 
                  <small id="model" class="p-error" *ngIf='form.submitted && extension1.invalid'>First Reference Extension is Required.</small>
                </div>
            </div>
  
            <div class="col-md-6 col-sm-12">
              <div class="form-group mt-3">
                <label for="float-input4" >First Reference Occupation Name*</label>
                      <input id="float-input4" type="text" class='form-control capitalize' autocapitalize="words"  name="occupation1" [(ngModel)]="neighbours1.occupation" #occupation1='ngModel' pattern="[a-zA-Z0-9 ]+" required> 
                <small id="model" class="p-error" *ngIf='form.submitted && occupation1.invalid' >First Reference Occupation Name is Required.</small>
              </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="form-group mt-3">
                  <label for="float-input5">First Reference Organization*</label>
                          <input id="float-input5" type="text" class='form-control capitalize' autocapitalize="words" name="organization1" [(ngModel)]="neighbours1.organization" #organization1='ngModel' pattern='[0-9a-zA-Z ]+' required>  
                  <small id="model" class="p-error" *ngIf='form.submitted && organization1.invalid'>First Reference Organization is Required.</small>
                </div>
            </div>
  
            <div class="col-md-6 col-sm-12">
              <div class="form-group mt-3">
                <label for="float-input1">Second Reference Name</label>
                        <input id="float-input1" type="text" class='form-control capitalize' autocapitalize="words" name="name2" #name2='ngModel'  pattern='[a-zA-Z ]+' [(ngModel)]="neighbours2.name"> 
                <small id="model" class="p-error" *ngIf='name2.dirty && name2.invalid'>Second Reference Name is Required.</small>
              </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="form-group mt-3">
              <label for="float-input2">Second Reference Contact No.</label>
                    <input id="float-input2" type="text" class='form-control' name="contact2" #contact2='ngModel' pattern='[\+0-9]+' maxlength="13" [(ngModel)]="neighbours2.contact"> 
              <small id="model" class="p-error" *ngIf='contact2.dirty && contact2.invalid' >Second Reference Contact No. is Required.</small>
            </div>
          </div>
  
          <div class="col-md-6 col-sm-12">
            <div class="form-group mt-3">
              <label for="float-input3">Second Reference Extension</label>
                      <input id="float-input3" type="text" class='form-control' name="extension2" [(ngModel)]="neighbours2.extension" #extension2='ngModel' pattern='[0-9]+'> 
              <small id="model" class="p-error" *ngIf='extension2.dirty && extension2.invalid'>Second Reference Extension is Required.</small>
            </div>
        </div>

       <div class="col-md-6 col-sm-12">
        <div class="form-group mt-3">
          <label for="float-input4" >Second Reference Occupation Name</label>
                <input id="float-input4" type="text" class='form-control capitalize' autocapitalize="words" pInputText name="occupation2" [(ngModel)]="neighbours2.occupation" #occupation2='ngModel' pattern="[a-zA-Z0-9 ]+"> 
          <small id="model" class="p-error" *ngIf='occupation2.dirty && occupation2.invalid' >Second Reference Occupation Name is Required.</small>
        </div>
      </div>
  
      <div class="col-md-6 col-sm-12">
        <div class="form-group mt-3">
          <label for="float-input5">First Reference Organization</label>
                  <input id="float-input5" type="text"  class='form-control capitalize' autocapitalize="words" pInputText name="organization2" [(ngModel)]="neighbours2.organization" #organization2='ngModel' pattern='[0-9a-zA-Z ]+'> 
          <small id="model" class="p-error" *ngIf='organization2.dirty && organization2.invalid'>First Reference Organization is Required.</small>
        </div>
    </div>
  
        </div>
     
    </div>
        <div class="p-grid p-nogutter p-justify-between p-3" style='display: flex; flex-wrap: wrap; justify-content: space-between;'>
            <button pButton label="Back" (click)="prevPage()" icon="pi pi-angle-left" class='btn'></button>
            <button pButton label="Next" type='submit' icon="pi pi-angle-right" iconPos="right" class='btn'></button>
        </div>
</form>