<!-- Privacy Banner Start -->
<section class="new-privacy-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Your Donations
                </h1>
                <!-- <p>
                    Questions about our privacy policy? <a href="javascript:void(0);">Contact Us</a>
                </p> -->
            </div>
        </div>
    </div>
</section>
<!-- Privacy Banner End -->

<!-- Privacy Start -->
<section class="new-privacy">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="new-privacy-des">
                    <p>
                        <b>WHY SUPPORT MYISSUES CAMPAIGNS?</b>
                    </p>
                    <p>
                        People who choose to support Myissues campaigns tend to do so for intensely personal reasons - most often because they understand from personal experience the difficulties our campaign organizers face and the value of a short-term helping hand. But generally speaking, we've learned that Myissues donors choose to support our work primarily because: 
                    </p>
                    <p>
                        <b>
                            We Operate with Integrity
                        </b>
                    </p>
                    <p>
                        At Myissues when we make a promise to our donors and campaign organizers, we keep our word. We don't deviate from our mission, and while we'd like to grow to the point that we can reach more of the people who need our help, we'd rather be small and efficient than large and wasteful.
                    </p>
                    <p>
                        We strive on a daily basis to administer our programs fairly, to carefully vet the grant applications we receive, and making sure campaign organizers practice good stewardship of our donors' funds. And when there's is a mistake, we correct it, learn from it, fix the problem, and then move boldly forward, informed by the wisdom we have gained from the experience.
                    </p>
                    <p>
                        <b>
                            We Value the Contributions of ALL of Our Donors
                        </b>
                    </p>
                    <p>
                        At Myissues we believe the power to affect positive change rests, not within a few people giving a lot, but within all of us doing whatever we can to make a lasting difference in the lives of others.
                    </p>
                    <p>
                        While we appreciate the support of our major donors, we also recognize that kindness and generosity cannot be measured in terms of dollars and cents. We believe that there is no such thing as a 'small act' of kindness. And we are genuinely grateful to the thousands of persons who make this work possible a few dollars at a time - many of whom were once Myissues applicants.
                    </p>
                    <p>
                        <b>
                            We Respect and Safeguard Our Donors' Privacy
                        </b>
                    </p>
                    <p>
                        If you choose to support Myissues you won't suddenly be bombarded with appeals for more and more money. At most, once we've thanked you for your contribution, you'll hear from Myissues twice a year - once in the summer and once during holidays - but if you opt to exclude yourself from these appeals, we'll certainly respect your wishes.
                    </p>
                    <p>
                        Additionally, Myissues goes to great lengths to safeguard our donors' personal information. As we explain in our privacy policy, we do not share information about our donors with any entity, for any reason, under any circumstances, ever.
                    </p>
                    <p>
                        <b>
                            DONATE NOW ONLINE
                        </b>
                    </p>
                    <p>
                        You can support the Myissues campaigns of your choice in two minutes or less in your community by donating. We accept prepaid credit cards on this website that's soul at your local stores for donations and purchases. You can make your tax-deductible contribution using any major credit card or PayPal.
                    </p>
                    <p>
                        For your protection, all donations is secured by state-of-the-art encryption, and we're committed to protecting the privacy of our donors. For this reason, we pledge NEVER to sell or share your personal information with other organizations or entities, period.
                    </p>
                    <p>
                        We may also use the information collected from the “Information We Collect” section, such as device identifiers and MAC addresses, to associate users’ activities, customize content, or tailor advertising to those users across different devices and browsers (for instance, tablets, mobile devices and applications, and websites). For the purposes of the GDPR, we may use your information in the above ways as this is necessary: (i) to fulfil our obligations under our contract with you or in order to take steps at your request prior to entering into a contract; (ii) for our legitimate interest to maintain our relationship with you or protect you and us against fraud; or
                    </p>
                    <p>
                        We are so very grateful to you for your support of this very important cause. In fact, without YOU, this donation would not be possible.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Privacy End -->

<section class="ad-about-grid">
    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-md-1">
                <div class="ad-about-grid-des">
                    <img src="assets/images/logo.png" alt="Images">
                    <p>
                        Launched in 2010, MyIssues is the world’s largest, free social fundraising platform. With over $9 billion raised from more than 120 million donations, we’re on a mission to help&nbsp;people <a href="#">fundraise</a> for personal, business, and charitable causes.
                    </p>
                    <a href="#" class="btn btn-green-border">
                        Learn more
                    </a>
                </div>
            </div>
            <div class="col-md-5">
                <div class="ad-about-grid-des">
                    <img src="assets/images/logo.png" alt="Images">
                    <p>
                        Charities across North America use MyIssue Charity™ to support and amplify their mission. Through our powerful charity software, nonprofits both large and small have access to donor analytics, customizable templates, event registration software, and more—subscription-free.
                    </p>
                    <a href="#" class="btn btn-green-border">
                        Learn more
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>