.next-prev-btn {
    .btn {
        @include font-style(36px, 700, $color-white);
        white-space: nowrap;
        &.btn-next {
            background-color: $color-cyan;
            border: 2px solid $color-cyan;
        }
        &.btn-prev {
            background-color: #efefeb;
            border: 2px solid #b7b8b3;
            color: #7d7d7d;
        }

        @media (min-width: 768px) {
            font-size: 55px;
        }
    }

    .error-message-btn {
        background-color: #c85128;
        padding: 5px 10px;
        position: absolute;
        right: 0;
        bottom: calc(100% + 10px);
        &::after {
            content: '';
            width: 0;
            height: 0;
            border: 15px solid transparent;
            border-top: 15px solid #c85128;
            border-bottom: 0;
            position: absolute;
            top: 100%;
            right: 50px;
        }

    }
}   