<div class="row">
	<!-- <div class="card" [class.submitting]='submitting'>
    <p-dataView #dv [value]="ads" [paginator]="true" [rows]="9" filterBy="name"
        layout="list" >
        <ng-template pTemplate="header">
            <div class="filter">
              <span class="p-float-label p-mt-1 p-mb-1 p-mb-md-0">
                <p-dropdown [options]="countries" [autoDisplayFirst]='false' [filter]='true' [(ngModel)]="selectedCountry" placeholder="" optionLabel="countryName" optionValue="_id" [showClear]="true" (onChange)='change_country($event)' name='selectCountry'></p-dropdown>
                <label for="selectCountry">Region</label>
              </span>
              
              <span class="p-float-label p-mt-1 p-mb-1 p-mb-md-0" *ngIf='selectedCountry'>
                <p-dropdown [options]="states" [filter]='true' [(ngModel)]="selectedState" [autoDisplayFirst]='false' placeholder="" optionLabel="stateName" optionValue="stateName" [showClear]="true" (onChange)="change_state($event)" name='selectState'></p-dropdown>
                <label for="selectState">States</label>
              </span>

              <span class="p-float-label p-mt-1 p-mb-1 p-mb-md-0" *ngIf='selectedState'>
                <p-dropdown [options]="cities" [filter]='true' [(ngModel)]="selectedCity" [autoDisplayFirst]='false' placeholder="" optionLabel="cityName" optionValue="cityName" [showClear]="true" (onChange)="change_city($event)"  name='selectCity'></p-dropdown>
                <label for="selectCity">Cities</label>
              </span>

              <span class="p-float-label p-mt-1 p-mb-1 p-mb-md-0">
                <p-dropdown [options]="categories" [filter]='true' [(ngModel)]="selectedCategory" [autoDisplayFirst]='false' placeholder="" optionLabel="title" optionValue="slug" [showClear]="true" (onChange)='change_category($event)' name='selectCategory'></p-dropdown>
                <label for="selectCategory">Category</label>
              </span>
                <span class="p-input-icon-left p-mt-1 p-mb-1 p-mb-md-0">
                    <i class="pi pi-search"></i>
                    <input type="search" class="searchbar form-control" pInputText placeholder="What Are You Looking For" (keydown)="search($event)" autoWidth="false">
                </span>
              <span class="p-mt-1 p-mb-md-0 text-center text-sm-right">
                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
              </span>
            </div>
        </ng-template>
     <ng-template let-ad pTemplate="listItem" >
            <div class="p-col-12 border-0">
                <div class="product-list-item mb-2 border-bottom p-shadow-7">
                  <img src="{{ad.adImages && ad.adImages.length > 0? (ad.adImages[0]|server) : defaultImage}}" alt="pic of the ad with category: {{ ad.categoryName }}" class="avatar">
                    <div class="product-list-detail">
                      <div class="product-name" (click)='view_full(ad._id)' *ngIf='ad.ownerType != "agency"'>{{ad.firstName? ad.firstName: "No Name"}}</div>
                      <div class="product-name" (click)='view_full(ad._id)' *ngIf='ad.ownerType == "agency"'>{{ad.agencyTitle? ad.agencyTitle : "No Name"}}</div>
                        <div class="product-description">{{ad.adTitle}}</div>
                        <i class="pi pi-tag product-category-icon"></i><span class="product-category" *ngIf='ad.ownerType != "agency"'>{{ad.categoryName}}</span>
                        <span class="product-category" *ngIf='ad.ownerType == "agency"'>Agency</span>
                    </div>
                    <div class="product-list-action">
                        <button pButton type="button" icon="pi pi-dollar" iconPos="left" class='p-button-warning' label='Donate' (click)='donate(ad._id)'></button>
                        <span class="product-badge mt-1" *ngIf='ad.boosted'>Boosted</span>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template let-ad pTemplate="gridItem">
            <div class="col-12 col-md-4">
                <div class="product-grid-item card">
                    <div class="product-grid-item-top"> 
                        <div>
                            <i class="pi pi-tag product-category-icon"></i>
                            <span class="product-category" *ngIf='ad.ownerType != "agency"'>{{ad.categoryName}}</span>
                            <span class="product-category" *ngIf='ad.ownerType == "agency"'>Agency</span>
                        </div>
                        <span class="product-badge mt-1" *ngIf='ad.boosted'>Boosted</span>
                    </div>
                    <div class="product-grid-item-content">
                      <img src="{{ad.adImages && ad.adImages.length > 0? (ad.adImages[0]|server) : defaultImage}}" alt="pic of the ad with category: {{ ad.categoryName }}" >
                        <div class="product-name"  (click)='view_full(ad._id)' *ngIf='ad.ownerType != "agency"'>{{ad.firstName? ad.firstName: ad.ownerType}}</div>
                        <div class="product-name"  (click)='view_full(ad._id)' *ngIf='ad.ownerType =="agency"'>{{ad.agencyTitle? ad.agencyTitle : "No Name"}}</div>
                        <div class="product-description">{{ad.adTitle}}</div>
                    </div>
                    <div class="product-grid-item-bottom">
                        <button pButton type="button" icon="pi pi-dollar" iconPos="left" class='p-button-warning p-button-lg' label='Donate' (click)='donate(ad._id)'></button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
  </div> -->

	<!-- Region Greater Start -->
	<section class="region-greater" style="width: 100%;">
		<div class="container-fluid">
			<form>
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="form-group">
							<input type="hidden" id="region_id" value="">
							<button type="button" class="select-wrap form-control btn-dropdown" onclick="showdiv()">
								Region : <span id="region_name"> </span>
							</button>
							<div class="cust-dropdown">
								<!-- <div id="accordion">
																	<div class="card">
										<div class="card-header" data-toggle="collapse" data-target="#collapse0" aria-expanded="false" aria-controls="collapse0">Alberta</div>
										<div id="collapse0" class="collapse" data-parent="#accordion">
																					<div class="card-body">
												<a class="drop-link" href="javascript:void(0)" onclick="getAllCity(22,&#39;Calgary/South&#39;);">Calgary/South	</a>
											</div>
																					<div class="card-body">
												<a class="drop-link" href="javascript:void(0)" onclick="getAllCity(23,&#39;Edmonton/Central&#39;);">Edmonton/Central	</a>
											</div>
																					<div class="card-body">
												<a class="drop-link" href="javascript:void(0)" onclick="getAllCity(24,&#39;Northern Alberta&#39;);">Northern Alberta	</a>
											</div>
																				</div>
									</div>
																		<div class="card">
										<div class="card-header" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">British Columbia</div>
										<div id="collapse1" class="collapse" data-parent="#accordion">
																					<div class="card-body">
												<a class="drop-link" href="javascript:void(0)" onclick="getAllCity(34,&#39;Metro Vancouver&#39;);">Metro Vancouver	</a>
											</div>
																					<div class="card-body">
												<a class="drop-link" href="javascript:void(0)" onclick="getAllCity(35,&#39;Vancouver Island&#39;);">Vancouver Island	</a>
											</div>
																					<div class="card-body">
												<a class="drop-link" href="javascript:void(0)" onclick="getAllCity(36,&#39;Interior&#39;);">Interior	</a>
											</div>
																					<div class="card-body">
												<a class="drop-link" href="javascript:void(0)" onclick="getAllCity(37,&#39;Northern BC&#39;);">Northern BC	</a>
											</div>
																				</div>
									</div>
																		<div class="card">
										<div class="card-header" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">Manitoba</div>
										<div id="collapse2" class="collapse" data-parent="#accordion">
																					<div class="card-body">
												<a class="drop-link" href="javascript:void(0)" onclick="getAllCity(32,&#39;Winnipeg&#39;);">Winnipeg	</a>
											</div>
																					<div class="card-body">
												<a class="drop-link" href="javascript:void(0)" onclick="getAllCity(33,&#39;Brandon&#39;);">Brandon	</a>
											</div>
																				</div>
									</div>
																		<div class="card">
										<div class="card-header" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">New Brunswick</div>
										<div id="collapse3" class="collapse" data-parent="#accordion">
																					<div class="card-body">
												<a class="drop-link" href="javascript:void(0)" onclick="getAllCity(31,&#39;New Brunswick&#39;);">New Brunswick	</a>
											</div>
																				</div>
									</div>
																		<div class="card">
										<div class="card-header" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">Newfoundland</div>
										<div id="collapse4" class="collapse" data-parent="#accordion">
																					<div class="card-body">
												<a class="drop-link" href="javascript:void(0)" onclick="getAllCity(38,&#39;Newfoundland&#39;);">Newfoundland	</a>
											</div>
																					<div class="card-body">
												<a class="drop-link" href="javascript:void(0)" onclick="getAllCity(39,&#39;Labrador&#39;);">Labrador	</a>
											</div>
																				</div>
									</div>
																		<div class="card">
										<div class="card-header" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">Northwest Territories</div>
										<div id="collapse5" class="collapse" data-parent="#accordion">
																					<div class="card-body">
												<a class="drop-link" href="javascript:void(0)" onclick="getAllCity(40,&#39;Northwest Territories&#39;);">Northwest Territories	</a>
											</div>
																				</div>
									</div>
																		<div class="card">
										<div class="card-header" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">Nova Scotia</div>
										<div id="collapse6" class="collapse" data-parent="#accordion">
																					<div class="card-body">
												<a class="drop-link" href="javascript:void(0)" onclick="getAllCity(41,&#39;Nova Scotia&#39;);">Nova Scotia	</a>
											</div>
																				</div>
									</div>
																		<div class="card">
										<div class="card-header" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">Nunavut</div>
										<div id="collapse7" class="collapse" data-parent="#accordion">
																					<div class="card-body">
												<a class="drop-link" href="javascript:void(0)" onclick="getAllCity(42,&#39;Nunavut&#39;);">Nunavut	</a>
											</div>
																				</div>
									</div>
																		<div class="card">
										<div class="card-header" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">Ontario</div>
										<div id="collapse8" class="collapse" data-parent="#accordion">
																					<div class="card-body">
												<a class="drop-link" href="javascript:void(0)" onclick="getAllCity(25,&#39;Greater Toronto Area&#39;);">Greater Toronto Area	</a>
											</div>
																					<div class="card-body">
												<a class="drop-link" href="javascript:void(0)" onclick="getAllCity(26,&#39;South Western&#39;);">South Western	</a>
											</div>
																					<div class="card-body">
												<a class="drop-link" href="javascript:void(0)" onclick="getAllCity(27,&#39;Central&#39;);">Central	</a>
											</div>
																					<div class="card-body">
												<a class="drop-link" href="javascript:void(0)" onclick="getAllCity(28,&#39;South Eastern &amp; Ottawa&#39;);">South Eastern &amp; Ottawa	</a>
											</div>
																					<div class="card-body">
												<a class="drop-link" href="javascript:void(0)" onclick="getAllCity(29,&#39;Northern Ontario&#39;);">Northern Ontario	</a>
											</div>
																					<div class="card-body">
												<a class="drop-link" href="javascript:void(0)" onclick="getAllCity(30,&#39;Hamilton/Niagara(South)&#39;);">Hamilton/Niagara(South)	</a>
											</div>
																				</div>
									</div>
																		<div class="card">
										<div class="card-header" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">Prince Edword Island</div>
										<div id="collapse9" class="collapse" data-parent="#accordion">
																					<div class="card-body">
												<a class="drop-link" href="javascript:void(0)" onclick="getAllCity(43,&#39;Prince Edward Island&#39;);">Prince Edward Island	</a>
											</div>
																				</div>
									</div>
																		<div class="card">
										<div class="card-header" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">Quebec</div>
										<div id="collapse10" class="collapse" data-parent="#accordion">
																					<div class="card-body">
												<a class="drop-link" href="javascript:void(0)" onclick="getAllCity(44,&#39;Quebec&#39;);">Quebec	</a>
											</div>
																				</div>
									</div>
																		<div class="card">
										<div class="card-header" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">Saskatchewan</div>
										<div id="collapse11" class="collapse" data-parent="#accordion">
																					<div class="card-body">
												<a class="drop-link" href="javascript:void(0)" onclick="getAllCity(45,&#39;Regina&#39;);">Regina	</a>
											</div>
																					<div class="card-body">
												<a class="drop-link" href="javascript:void(0)" onclick="getAllCity(46,&#39;Saskatoon&#39;);">Saskatoon	</a>
											</div>
																				</div>
									</div>
																		<div class="card">
										<div class="card-header" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12">Yukon</div>
										<div id="collapse12" class="collapse" data-parent="#accordion">
																					<div class="card-body">
												<a class="drop-link" href="javascript:void(0)" onclick="getAllCity(47,&#39;Yukon&#39;);">Yukon	</a>
											</div>
																				</div>
									</div>
																	</div> -->
							</div>
							<!-- <div class="select-wrap">
								<select class="form-control">
									<option>
										Region Greater Toronto A...
									</option>
									<option>
										Region Greater Toronto A...
									</option>
									<option>
										Region Greater Toronto A...
									</option>
								</select>
							</div> -->
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="form-group">
							<div class="dropdown">
								<button id="dLabel" class="form-control select-wrap btn-category" type="button"
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span id="catval">Panhandlers</span>
								</button>
								<!-- <div class="dropdown-menu" aria-labelledby="dLabel">
								
									<input type="hidden" id="sel1" value="1">
									 									   											<a href="javascript:void(0);" onclick="filterdata(1,&#39;Panhandlers&#39;)">
                                    	<img src="./My Issues Ad List_files/158842623220200502.png" width="10%">
                                    	Panhandlers                                    </a>
                                    											<a href="javascript:void(0);" onclick="filterdata(2,&#39;Homeless People&#39;)">
                                    	<img src="./My Issues Ad List_files/158842616220200502.png" width="10%">
                                    	Homeless People                                    </a>
                                    											<a href="javascript:void(0);" onclick="filterdata(3,&#39;Pets&#39;)">
                                    	<img src="./My Issues Ad List_files/158842618720200502.png" width="10%">
                                    	Pets                                    </a>
                                    											<a href="javascript:void(0);" onclick="filterdata(4,&#39;Struggling Mothers&#39;)">
                                    	<img src="./My Issues Ad List_files/158842625420200502.png" width="10%">
                                    	Struggling Mothers                                    </a>
                                    											<a href="javascript:void(0);" onclick="filterdata(6,&#39;Struggling Students&#39;)">
                                    	<img src="./My Issues Ad List_files/158842630720200502.png" width="10%">
                                    	Struggling Students                                    </a>
                                    											<a href="javascript:void(0);" onclick="filterdata(7,&#39;Struggling Seniors&#39;)">
                                    	<img src="./My Issues Ad List_files/158842628220200502.png" width="10%">
                                    	Struggling Seniors                                    </a>
                                    											<a href="javascript:void(0);" onclick="filterdata(9,&#39;Buskers&#39;)">
                                    	<img src="./My Issues Ad List_files/158842602820200502.png" width="10%">
                                    	Buskers                                    </a>
                                    											<a href="javascript:void(0);" onclick="filterdata(8,&#39;Donated Housing&#39;)">
                                    	<img src="./My Issues Ad List_files/158842609520200502.png" width="10%">
                                    	Donated Housing                                    </a>
                                    											<a href="javascript:void(0);" onclick="filterdata(10,&#39;Disasters&#39;)">
                                    	<img src="./My Issues Ad List_files/158842607020200502.png" width="10%">
                                    	Disasters                                    </a>
                                    											<a href="javascript:void(0);" onclick="filterdata(11,&#39;Medical Issues&#39;)">
                                    	<img src="./My Issues Ad List_files/158842621020200502.png" width="10%">
                                    	Medical Issues                                    </a>
                                    											<a href="javascript:void(0);" onclick="filterdata(12,&#39;Events&#39;)">
                                    	<img src="./My Issues Ad List_files/158842612120200502.png" width="10%">
                                    	Events                                    </a>
                                    											<a href="javascript:void(0);" onclick="filterdata(13,&#39;Community&#39;)">
                                    	<img src="./My Issues Ad List_files/158842605020200502.png" width="10%">
                                    	Community                                    </a>
                                    								</div> -->
							</div>
							<!-- <div class="select-wrap">
								<select class="form-control">
									<option>
										Category
									</option>
									<option>
										Category
									</option>
									<option>
										Category
									</option>
								</select>
							</div> -->
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="form-group">
							<i class="fa fa-search"></i>
							<input type="text" name="looking" id="loking_for_ad_title" class="form-control looking-text"
								placeholder="Who are you looking for?" onkeyup="getAllCause()">
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<ul class="grid-list">
							<li class="active" id="list" (click)="listView()">
								<a>
									<i class="fa fa-bars" aria-hidden="true"></i>
									List
								</a>
							</li>
							<li id="grid" (click)="gridView()">
								<a>
									<i class="fa fa-th-large" aria-hidden="true"></i>
									Grid
								</a>
							</li>
						</ul>
					</div>
					<div class="col-md-12">
						<button class="btn btn-transfer">
							<img src="../../../../assets/images/transfer-1.png" alt="transfer">
						</button>
					</div>
				</div>
			</form>
		</div>
	</section>
	<!-- Region Greater End -->
	<!-- Panhandlers Start -->
	<section class="pan-handlers" style="width: 100%;">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-9">
					<div class="pan-list">
						<h1 class="story-head">Panhandlers</h1>
						<div class="panl-list-sec">
							<div id="posts" class="row mt-4">


								<div class="item col-md-12 col-sm-12 mb-3">
									<a href="http://myissuesinc.ca/profile/panhandlers/homeless">
										<ul>
											<li>
												<img src="./My Issues Ad List_files/no-image.jpg">
											</li>
											<li>
												<div class="cancer-des">
													homeless <p>
														hjvkl;ngkhbjfdc...<br>
														<mark style="background-color: #f4f5ef;">EM1000</mark> -Emilia-
														City of Durham Region
													</p>
												</div>
											</li>
										</ul>
									</a>
								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="city-list" id="load_selected_cities">
						<h2 class="city-head">Cities</h2>
						<div class="city-checkbx-list">
							<label class="city-checkbox">
								All
								<input type="radio" name="cityname" checked="checked" value="-1"
									onclick="getAllCause()">
								<span class="checkmark"></span>
							</label>
						</div>
						<div class="city-checkbx-list">
							<label class="city-checkbox">
								Milton <input type="radio" name="cityname" onclick="getAllCause()" value="36">
								<span class="checkmark"></span>
							</label>
						</div>
						<div class="city-checkbx-list">
							<label class="city-checkbox">
								Calgary <input type="radio" name="cityname" onclick="getAllCause()" value="41">
								<span class="checkmark"></span>
							</label>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Panhandlers End -->


</div>




<div class="loader-spinner" *ngIf='loading'></div>