

	<!-- Common-Banner Start -->
	<section class="food-banner">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="foodbank-img">
						<img src="assets/images/foodbank_stip.jpeg" alt="foodbank_stip">
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Common-Banner End -->

	<!-- Food Box Start -->
	<section class="food-box">
		<div class="container">
			<div class="volunteer-bg">
				<div class="row">
					<div class="col-lg-4">
						<div class="food-box-des">
							<h2>Add food request</h2>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua.
							</p>
							<a href="javascript:void(0);" class="btn btn-shop">Add request</a>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="food-box-des">
							<h2>Shop</h2>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua.
							</p>
							<a href="javascript:void(0);" class="btn btn-shop">Shop now</a>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="food-box-des">
							<h2>View food request</h2>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua.
							</p>
							<a href="javascript:void(0);" class="btn btn-shop">View request</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Food Box End -->

  
  