// tooltip
.tooltip.show {
    opacity: 1;
}
.tooltip-inner {
    text-align:left;
    max-width: 300px;
    background-color: #404145;
    padding: 0.5rem;
}

.bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow::before, .bs-tooltip-start .tooltip-arrow::before{
    border-left-color: #404145;
}

.bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before, .bs-tooltip-end .tooltip-arrow::before{
    border-right-color: #404145;
}