@import url(../abstracts/_mixins.scss);

.selete-area {
    li {
        transition: all 0.2s linear;
        position: relative;
        a {
            @include font-style(16px, 500, #acacac);
            display: block;
            @media (min-width: 768px){
                font-size: 20px;
                padding: 0.5rem 0;
            }

            .badge {
                background: #acacac;
            }
        }
        
        &:hover {
            background-color: $color-cyan;
            a {
                color: $color-white;
                .badge {
                    background: $color-white;
                    color: $color-cyan;
                }
            }
        }
        &:first-child {
            background-color: $color-white;
        }
    }
}