<div class="card">
    <p-toolbar styleClass="p-mb-1">
      <ng-template pTemplate="left">
        <p-breadcrumb [model]="items"></p-breadcrumb>
      </ng-template>
  
    </p-toolbar>
  
    <p-tabView styleClass="tabview-custom">
        <p-tabPanel>
            <ng-template pTemplate = "header">
                <i class="pi pi-user"></i>
                <span>User Detail</span>
            </ng-template>
            <div class="card">
                <p-table #dt [value]="siteDetail" [rows]="5" [paginator]="false" [(selection)]="selectedProducts" [rowHover]="true"
                    dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true" styleClass="p-datatable-striped ">
                    <ng-template pTemplate="caption" [(first)]="first">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            <h5 class="p-m-0">User Details</h5>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td><strong>First Name</strong>
                            </td>
                            <td>
                              
                                    {{product.firstname}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Last Name</strong>
                            </td>
                            <td>
                               
                                    {{product.lastname}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Email</strong>
                            </td>
                            <td>
                               
                                    {{product.email}}
                            </td>
                        </tr>
                        <!-- <tr>
                            <td><strong>Category Name</strong>
                            </td>
                            <td>
                            </td>
                        </tr> -->
                        <tr>
                            <td><strong>Contact No.</strong>
                            </td>
                            <td>
                                 {{product.contact}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>DOB</strong>
                            </td>
                            <td>
                                {{product.dob | date:"medium"}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Age</strong>
                            </td>
                            <td>
                                {{product.age}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Address</strong>
                            </td>
                            <td>
                                {{product.address}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Province</strong>
                            </td>
                            <td>
                                {{product.country || "-"}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Zip Code</strong>
                            </td>
                            <td>
                                {{product.zipCode}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Created On</strong>
                            </td>
                            <td>
                                {{product.createdOn| date :"medium"}}
                            </td>
                        </tr>
                        
                       
                        <!-- <tr>
                            <td><strong>Profile Picture</strong>
                            </td>
                            <td>

                            </td>
                        </tr> -->
                        <tr>
                            <td><strong>User Images</strong>
                            </td>
                            <td>
                                <div class="image" *ngFor='let img of product.identityImages'>
                                    <img src="{{product.identityImages | server}}" alt="User Identity Images" style='width: 80px ; height: 80px'>
                                </div>
                            </td>
                        </tr>
                        <tr>
                        </tr>
                    </ng-template>
                    <!-- <ng-template pTemplate="summary">
                        <div class="p-text-right mb-1">
                            <button pButton pRipple label="Update" icon="pi pi-pencil" class="p-button-success p-mr-1"
                                (click)="updateSite(siteDetail)" *ngIf="HideCancelButton"></button>
                        </div>
                    </ng-template> -->
                </p-table>
            </div>
            
            
           
            
        </p-tabPanel>
        <p-tabPanel header="Header II">
            <ng-template pTemplate = "header">
                <i class="pi pi-credit-card"></i>
                <span>Referrence Detail</span>
            </ng-template>
            <div class="card">
                <p-table #dt [value]="siteDetail" [rows]="5" [paginator]="false" [(selection)]="selectedProducts" [rowHover]="true"
                    dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true" styleClass="p-datatable-striped ">
                    <ng-template pTemplate="caption" [(first)]="first">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            <h5 class="p-m-0">Referrence Details</h5>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td><strong>First Referrence Name</strong>
                            </td>
                            <td>
                              
                                    {{product.neighbours1.name}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>First Referrence Contact No.</strong>
                            </td>
                            <td>
                               
                                    {{product.neighbours1.contact}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>First Referrence Extension</strong>
                            </td>
                            <td>
                               
                                    {{product.neighbours1.extension}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>First Referrence Organization Name</strong>
                            </td>
                            <td>
                                {{product.neighbours1.organization}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>First Referrence Occupation</strong>
                            </td>
                            <td>
                                {{product.neighbours1.occupation}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Second Referrence Name</strong>
                            </td>
                            <td>
                              
                                {{product.neighbours2.name}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Second Referrence Contact No.</strong>
                            </td>
                            <td>
                               
                                    {{product.neighbours2.contact}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Second Referrence Extension</strong>
                            </td>
                            <td>
                               
                                    {{product.neighbours2.extension}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Second Referrence Occupation</strong>
                            </td>
                            <td>
                                {{product.neighbours2.occupation}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Second Referrence Organization Name</strong>
                            </td>
                            <td>
                                {{product.neighbours2.organization}}
                            </td>
                        </tr>
                    
                    </ng-template>
                    <!-- <ng-template pTemplate="summary">
                        <div class="p-text-right mb-1">
                            <button pButton pRipple label="Update" icon="pi pi-pencil" class="p-button-success p-mr-1"
                                (click)="updateSite(siteDetail)" *ngIf="HideCancelButton"></button>
                        </div>
                    </ng-template> -->
                </p-table>
            </div> 
        </p-tabPanel>
        <p-tabPanel header="Header III">
            <ng-template pTemplate = "header">
                <i class="fa fa-paw"></i>
                <span>Pet Detail</span>
            </ng-template>
            <div class="card">
                <p-table #dt [value]="siteDetail" [rows]="5" [paginator]="false" [(selection)]="selectedProducts" [rowHover]="true"
                    dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true" styleClass="p-datatable-striped ">
                    <ng-template pTemplate="caption" [(first)]="first">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            <h5 class="p-m-0">Pet Details</h5>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td><strong>User Have Pet</strong>
                            </td>
                            <td>
                              
                                    {{product.pets.petName? "Yes" : "No"}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Pet Name</strong>
                            </td>
                            <td>
                               
                                    {{product.pets.petName}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Pet Type</strong>
                            </td>
                            <td>
                               
                                    {{product.pets.petType}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Pet Ad Title</strong>
                            </td>
                            <td>
                                {{product.pets.petAdTitle}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Pet Issue Description</strong>
                            </td>
                            <td>
                                {{product.pets.petIssue}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Pet Image</strong>
                            </td>
                            <td>
                               <img src="{{petImage | server}}" alt="Image of Pet" style='width: 80px; height: 80px'>
                            </td>
                        </tr>
                        
                       
                    
                    </ng-template>
                    <!-- <ng-template pTemplate="summary">
                        <div class="p-text-right mb-1">
                            <button pButton pRipple label="Update" icon="pi pi-pencil" class="p-button-success p-mr-1"
                                (click)="updateSite(siteDetail)" *ngIf="HideCancelButton"></button>
                        </div>
                    </ng-template> -->
                </p-table>
            </div>
            
        </p-tabPanel>
        <p-tabPanel header="Header IV">
            <ng-template pTemplate = "header">
                <i class="pi pi-credit-card"></i>
                <span>Bump Up Detail</span>
            </ng-template>
            <div class="card">
                <p-table #dt [value]="siteDetail" [rows]="5" [paginator]="false" [(selection)]="selectedProducts" [rowHover]="true"
                    dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true" styleClass="p-datatable-striped ">
                    <ng-template pTemplate="caption" [(first)]="first">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            <h5 class="p-m-0">BumpUp Details</h5>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td><strong>User Have BumpUp Plan?</strong>
                            </td>
                            <td>
                              
                                    {{product.firstname}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Bump Price</strong>
                            </td>
                            <td>
                               
                                    {{product.lastname}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>BumpUp Counter</strong>
                            </td>
                            <td>
                               
                                    {{product.email}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Bump Up Auto Renewal</strong>
                            </td>
                            <td>
                            </td>
                        </tr>
                    
                    </ng-template>
                    <!-- <ng-template pTemplate="summary">
                        <div class="p-text-right mb-1">
                            <button pButton pRipple label="Update" icon="pi pi-pencil" class="p-button-success p-mr-1"
                                (click)="updateSite(siteDetail)" *ngIf="HideCancelButton"></button>
                        </div>
                    </ng-template> -->
                </p-table>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Header V">
            <ng-template pTemplate = "header">
                <i class="pi pi-credit-card"></i>
                <span>Advertise Detail</span>
            </ng-template>
            <div class="card">
                <p-table #dt [value]="siteDetail" [rows]="5" [paginator]="false" [(selection)]="selectedProducts" [rowHover]="true"
                    dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true" styleClass="p-datatable-striped ">
                    <ng-template pTemplate="caption" [(first)]="first">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            <h5 class="p-m-0">Advertise Details</h5>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td><strong>User Have Advertise Plan?</strong>
                            </td>
                            <td>
                              
                                    {{product.firstname}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>advertise Price</strong>
                            </td>
                            <td>
                               
                                    {{product.lastname}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Advertise Counter Days</strong>
                            </td>
                            <td>
                               
                                    {{product.email}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Advertise Auto Renewal</strong>
                            </td>
                            <td>
                            </td>
                        </tr>
                    
                    </ng-template>
                    <!-- <ng-template pTemplate="summary">
                        <div class="p-text-right mb-1">
                            <button pButton pRipple label="Update" icon="pi pi-pencil" class="p-button-success p-mr-1"
                                (click)="updateSite(siteDetail)" *ngIf="HideCancelButton"></button>
                        </div>
                    </ng-template> -->
                </p-table>
            </div> 
        </p-tabPanel>
    </p-tabView>
  </div>


   <!-- Message -->
            
   <!-- <p-toast></p-toast> -->