<div class="card" style="min-height: 450px;width: 100%; margin: 10px auto;">
    <!-- <div class="card-header">
    </div> -->
    <div class="card-body">
        <h2 class="">Pet Detail</h2>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group mt-3">
                    <label for="float-input1">Pet Name</label>
                          <input id="float-input1" type="text" class='form-control capitalize' #petName='ngModel' name="petName" [(ngModel)]="PetData.petName" pattern='[a-zA-Z ]+'> 
                  <small id="model" class="p-error" *ngIf='petName.dirty && petName.invalid'>Please enter a valid pet name.</small>
                </div>
            </div>
  
            <div class="col-md-6 col-sm-12">
              <div class="form-group mt-3">
                  <label for="float-input2">Pet Type</label>
                      <input id="float-input2" type="text" class='form-control capitalize' name="PetType" #petType='ngModel' [(ngModel)]="PetData.petType" pattern='[a-zA-Z ]+'> 
                <small id="model" class="p-error" *ngIf='petType.dirty && petType.invalid' >Please enter a valid Pet Type.</small>
              </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="form-group mt-3">
                    <label for="float-input3">Pet Ad Title</label>
                    <input id="float-input3" type="text" class='form-control capitalize' #petAdTitle='ngModel' autocapitalize="on" name="petAdTitle" [(ngModel)]="PetData.petAdTitle"> 
                  <small id="model" class="p-error" *ngIf='petAdTitle.dirty && petAdTitle.invalid' >Please enter a valid Pet Ad Title.</small>
                </div>
            </div>
  
            <div class="col-md-6 col-sm-12">
              <div class="form-group mt-3">
                  <label for="float-input4" >Pet Issue Discription</label>
                  <input id="float-input4" type="text" class='form-control' name="petIssue" #petIssue='ngModel' [(ngModel)]="PetData.petIssue">  
                <small id="model" class="p-error" *ngIf='petIssue.dirty && petIssue.invalid'>Please enter a valid Pet Issue Discription.</small>
              </div>
            </div>

            <div class="col-md-12 col-sm-12">
                <div class="form-group mt-3">
                    <label for="float-input5">Pet Image</label>
                    <input id="float-input5" type="file" class='form-control' name="petImage" #petImage='ngModel' (change)='selectPetImage($event)' [required]='!image && !petImageServer' ngModel accept='image/*'> 
                  <small id="model" class="p-error" *ngIf='petImage.dirty && petImage.invalid'>Please select a Pet Image.</small>
                </div>
            </div>

            <div class="col-md-12 col-sm-12">
                <div class="form-group border">
                  <label for="">Pet Image</label><br>
                  <div class="petImage">
                       <div class="image">
                           <div class='img'>
                            <img [src]='image' alt="petImage" *ngIf='image'>
                           </div>
                           <b *ngIf='!image && !petImageServer'>no image selected</b>
                           <a href='{{petImageServer | server}}' target='_blank' class='img'>
                              <img src='{{petImageServer | server}}' alt="petImage" *ngIf='!image && petImageServer'>
                           </a>
                       </div>
                  </div>
                </div>
            </div>
  
        </div>
     
    </div>
        <div class="p-grid p-nogutter p-justify-between p-3" style='display: flex; flex-wrap: wrap; justify-content: space-between;'>
            <button pButton label="Back" (click)="prevPage()" icon="pi pi-angle-left" class='btn'></button>
            <button pButton label="Skip" (click)="nextPage()" icon="pi pi-angle-right" iconPos="right" class='btn'></button>
            <button pButton label="Next" (click)="nextPage()" icon="pi pi-angle-right" iconPos="right" class='btn'></button>
            </div>
  </div>